html{
  height:100%; 
  overflow:hidden; 
}

body{
  height:100%;
  overflow:auto; 
  display:flex;
  align-items:center;
  justify-content:center;
}
#panel{
  display:flex;
  justify-content:center;
  
  
  .jumbotron{
    min-width:60%;
  }
}

.col-md-4{
  border:1px solid black; 
  padding:20px;
  height:60px;
  width:60px;
}


